
// @=======import=========@
@import './avariable';

@import './base';

@import './header';

@import './auth-form';

@import './content';

.content {
    background-color: #f5f5f5;
    padding-top: 40px;
}

.category {

    background-color: #fff;
    border-radius: 2px;
    .category__heading {
        padding:  16px;
        border-bottom: 1px solid $boder-color;
        .heading-title {
            font-size: 1.8rem;
            font-weight: 700;
            color: $text-color;
        }

        i{
            display: inline-block;
            font-size: 1.6rem;
            margin-right: 12px;
            
        }
    }
    
    .category__lists {
        list-style: none;
        padding: 0;
        .category__lists-item {
            a{
                display: inline-block;
                width: 100%;
                text-decoration: none;
                font-size: 1.6rem;
                color: $text-color;
                line-height: 100%;
                padding: 9px 16px;
            }
        }

        .category__lists-item:hover a{
            color: $text-main-color;
            background-color: rgb(241, 241, 241);
        }
    }
}


.filter-product {
    background-color: #ededed;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
   .filter__option {
        .filter__title {
            font-size: 1.6rem;
            color: $text-color;
            text-align: center;
            display: inline-block;
            margin-right: 6px;
        }

        .filter__btn {
            background-color: $white-color;
        }

        .filter__sort:hover .filter__sort-lists{
            display: block;
        }
        
        .filter__sort {
            display: inline-block;
            border-radius: 2px;
            margin-left: 6px;
            position: relative;
            .title-sort {
                background-color: $white-color;
                font-size: 1.6rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 202px;
                padding-left: 18px;
                padding-right: 18px;

                i{
                    display: inline-block;
                    margin-top: -6px;
                }
            }
            .filter__sort-lists::after{
                position: absolute;
                z-index: 1;
                content: "";
                width: 100%;
                height: 20%;
                top: -12px;
            }

            .filter__sort-lists {
                position: absolute;
                top: 81%;
                left: 0;
                width: 100%;
                background-color: $white-color;
                list-style: none;
                padding: 14px 0;
                display: none;
                animation: fadeIn ease 0.2s;
            }

            .filter__sort-item:hover a{
                color: $text-main-color;
            }

            .filter__sort-item {
                font-size: 1.6rem;
                padding: 10px;
                a{
                    text-decoration: none;
                    color: $text-color;
                    display: block;
                    width: 100%;
                    line-height: 100%;
                }
            }

        }    
    }
    .filter__pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .page__number {
            font-size: 1.4rem;
            color: $text-color;
            margin-right: 18px;
            .page__number--active {
                color: $text-main-color;
            }

        }
        .page__next-pre {

            button {
                border: none;
                outline: none;
                padding: 11px 15px;
            }

            .page__btn-pre {
                background-color: #f9f9f9;
                color: #cfcfcf;
            }

            .page__btn-next {
                background-color: $white-color;
                color: $text-color;
            }

        }
    
    }
}






